{%load static%}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Lol Stats</title>
  <meta name="description" content="A simple HTML5 Template for new projects.">
  <meta name="author" content="SitePoint">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
    {% include 'navbar.html' %}
    <section class="search-player">
        <img src="/static/images/iconlol.jpg" class="img" alt="logo">
        <h1 class="title"> Login</h1>
        <div class="container">
            <div class="player-form">
                <form action="login" method="post">
                    {% csrf_token %}
                    <div class="form-field">
                        <input id="username" type="text" class="input-text" name="username" placeholder=" ">
                        <label for="username" class="label">Username</label>
                        
                    </div>
                    <div class="form-field">
                        <input id="password" type="password" class="input-text" name="password" placeholder=" ">
                        <label for="password" class="label">Password</label>
                        
                    </div>
                    <div class="form-field">
                        <input class="submit-btn" type="submit" value="submit" >
                    </div>
                    <div class="form-field">
                        {% for message in messages %}
                        <h3 style="color:brown"> {{message}}</h3>
                        {% endfor%}
                    </div>
                </form>
            </div>
        </div>
    </section>
    
  
  <script src="js/scripts.js"></script>
</body>
</html>